@{
    @model List<ClassModel>

    ViewData["Title"] = "ModifySubject";

}
<div class="backimageAdmin">
    <h2 class="text-center">Gestionar Materias</h2>
    <br />
    <h3 class="text-center">@ViewBag.NameSubject</h3>
    <br />
    <h5 class="text-center">Jefa/e de cátedra: @ViewBag.HeadTeacherName</h5>

</div>
<br />
<div class="container-fluid rounded bg-secondary largeopacity">
    @{
        if (ViewBag.Success != "" && ViewBag.Success != null)
        {
            <div class="SuccessMessage text-success font-weight-bold text-center bg-dark" name="AddSubjectSuccess" id="AddSubjectSuccess">
                <p>@ViewBag.Success</p>
            </div>
        }
        if (ViewBag.Warning != "" && ViewBag.Warning != null)
        {
            <div class="danger text-danger font-weight-light text-center bg-dark" name="warning" id="warning">
                <p>@ViewBag.Warning</p>
            </div>
        }
        if (ViewBag.Error != "" && ViewBag.Error != null)
        {
            <div class="danger text-danger font-weight-bold text-center bg-dark" name="error" id="error">
                <p>@ViewBag.Error</p>
            </div>
        }
    }
    <br />
    <div class="row">
        <div class="text-center align-content-center col-lg-2 offset-lg-3 col-md-3 offset-md-2 col-sm-6">
            <form action="@Url.Content("~/ManageSubjects/EditSubject")" method="post">
                <input type="hidden" name="subjectid" id="subjectid" value="@ViewBag.SubjectId" />
                <input type="submit" value="Editar Materia" class="btn btn-dark text-light" />
            </form>
        </div>

        <div class="text-center upperpadding col-lg-2 offset-lg-2 col-md-3 offset-md-2 col-sm-6">
            <form action="@Url.Content("~/ManageSubjects/NewClass")" method="post">
                <input type="hidden" name="subjectid" id="subjectid" value="@ViewBag.SubjectId" />
                <input type="submit" value="Nueva Comisión" class="btn btn-dark text-light" />
            </form>
        </div>
    </div>
    <br />

    @{ if (Model.Count != 0)
        {
            foreach (ClassModel Class in Model)
            {
                <div class="card card-body bg-dark border-dark border-3">
                        <div class="row">
                                <form class="row col-lg-9 col-md-9 offset-lg-1 offset-md-1 col-sm-12" action="@Url.Content("~/ManageSubjects/EditClass")" method="post">
                                    <input type="hidden" name="classid" id="classid" value="@Class.IdClasses" />
                                    <input type="hidden" name="subjectid" id="subjectid" value="@Class.IdSubjects" />
                                    
                                    <div class="col-lg-4 col-md-3 col-sm-6 bg-transparent">
                                        <p class="text-white text-center">Comisión: @Class.ClassroomClasses</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 bg-transparent">
                                        <p class="text-white text-center">Profesor :@Class.NameTeacher</p>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-sm-6 bg-transparent">
                                        <p class="text-white text-center">Cupo máximo: @Class.MaxStudentClasses</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-6 bg-transparent">
                                        <input type="submit" class="btn btn-primary active text-white float-right" value="Modificar" />
                                    </div>
                                </form>
                                <form class="col-lg-2 col-md-2 col-sm-6 bg-transparent text-center" method="post" action="@Url.Content("~/ManageSubjects/DeleteClass")">                
                                    <input type="hidden" name="classid" id="classid" value="@Class.IdClasses" />
                                    <input type="submit" class="btn btn-danger active text-white float-right" value="Eliminar" />
                                </form>
                        </div>
                </div>
                <br />
            }
        }
    }
</div>
